.git
.venv
__pycache__
.dvc/cache
notebooks/
*.pt
*.parquet
data/bank-additional*.csv
data/bank.csv
data/bank-full-*.csv
data/sample_submission.csv
data/test_wc2022.csv
data/train.csv
data/Teen_Mental_Health_Dataset.csv
.DS_Store
